body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: inherit;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
}

input[type="checkbox" i] {
    background-color: #ffffff;
    cursor: default;
    appearance: none;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    width: 17px;
    height: 17px;

}

input[type="checkbox" i]:checked {
    background-color: #000!important;
    color: #000;
}

p {
    margin: 0;
    padding: 0;
}

select {
    background-color: #E3E0D2;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 18px;
    appearance: none;
    padding: 0;
    padding: 3px 4.5px;
    height: 31px;
    width: auto;
    display: none;
}

.container {
    width: 360px;
    min-height: 800px;
    background-color: #FFFFFF;
    overflow: hidden;
    margin: 0;
    padding: 0;
    grid-template-rows: 95px 52px 72px 46px 520px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    grid-area: 1/ 1/ 2 /2;
    width: 100%;
    height: 45px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 9px;
    font-weight: bold;
    overflow: hidden;
}

.searchArea {
    grid-area: 2/ 1/ 3/ 2;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 6px;
}

.searchBar {
    width: 314px;
    height: 46px;
    background-color: #FFFFF0;
    margin: 0;
    padding: 15px 50px 15px 21px;
    border: 1px solid #000; /* Add a border */
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchArea button {
    position: absolute;
    margin-left: 265px;
    height: 19px;
    width: 9px;
    font-size: 20px;
    color: grey; 
    display: flex;
    align-items: center;
}

.typeFilterArea{
    grid-area: 3/ 1/ 4/ 2;
    width: 270px;
    height: 60px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 45px;
    margin-top: 12px;
    padding: 0;
}

.typeFilterArea .content{
    margin-top: 6px;
    height: 18px;
    margin-left: 1px;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 70px;
}

.typeFilterArea .content .item{
    margin: 0;
    padding: 0;
    height: 18px;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 14px;
    align-items: center;
}

.typeFilterArea .content .item p{
    font-size: 20px;
}

.orderArea {
    grid-area: 4/ 1/ 5/ 2;
    margin-top: 15px;
    height: 31px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.catalog {
    grid-area: 5/ 1/ 6/ 2;
    margin-top: 15px;
    width: 319px;
    max-height: calc(100vh - 260px);
    margin-left: 23px;
    margin-right: 23px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    column-gap: 60px;
    row-gap: 30px;
    overflow-y: scroll;
}

.catalog .item{
    width: 127px;
    height: 152px;
    margin: 0;
    padding: 0;
    background-color: #FFFFF0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.catalog .image{
    width: 127px;
    height: 91px;
    background-color: #fff;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    z-index: 0;
    position: relative;
}

.catalog .image img{
    height: 100%;
    object-fit: contain;
    z-index: 0;
    position: absolute;
}

.catalog .image .tag{
    z-index: 3;
    margin-top: 58px;
    margin-left: 80px;
    width: 37px;
    height: 18px;
    border-radius: 20px;
    font-size: 18px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: absolute;
}

.catalog h1{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.catalog p{
    padding: 0;
    margin: 0;
    font-size: 18px;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #fffff0;
    border: 1px solid #000;
}

.typeFilterArea::-webkit-scrollbar{
    height: 5px;
    width: 100%;
}

.catalog::-webkit-scrollbar{
    height: 100%;
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: inherit;
}
